
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Die</title>
<!--    <script src="/index.js"></script>-->
</head>
<body>
<!--A die image, a button and script for re-rolling a die-->
<!--<p>Hello!</p>-->
<h1>
    The random number is <%=ran%>!
</h1>
    <button id='click' type ="submit" onclick =  window.location.href='/'+'check' >  Click this button to roll the dice </button>
    <img src="/images/<%=ran%>.png"  id="photo"/>

<script src="/index.js"></script>
<script>

</script>
</body>

</html>