<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Die</title>
    <!--    <script src="/index.js"></script>-->
</head>
<body>
<!--A die image, a button and script for re-rolling a die-->
<!--<p>Hello!</p>-->
<p>Error. Number 1-6 expected.</p>
<script src="/index.js"></script>
</body>

</html>