<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secure site</title>
</head>
<body>
<h1>LOGOUT!</h1>
<form action = '/' method="get">
    <button type = "submit" >login </button>
</form>
<!--Previous message-->
<!--New message input-->
<!--Logout button-->

</body>
</html>