<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secure site</title>
</head>
<body>
<script src="/task_1/index.js" ></script>
<form action = '/message' method="post" id = "eventForm" >
    <span id="nametext">Please enter your message</span>
    <input type= "name" id="message" placeholder="Enter your message" name = "message" >
    <button type="submit"> Add message </button>
</form>




<form action = '/logout' method="get"  >
    <button type="submit" > logout </button>
</form>
<!--Previous message-->
<!--New message input-->
<!--Logout button-->

</body>
</html>