<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature</title>
</head>
<body>
<p>Hello!</p>
<p>Current Temperature: <%= temp %></p>
<p>High Temperature: <%= max_temp %></p>
<p>Low Temperature: <%= min_temp %></p>
<p>Average Temperature: <%= parseFloat(ave_temp).toFixed(1) %></p>
</body>
</html>